{% extends "base2/base2.html" %}

{% load static %}


{% block title %}
メール送信完了 | ChatBoy
{% endblock %}


{% block css %}
<link
    rel="stylesheet"
    href="{% static 'css/accounts.css' %}"
>
{% endblock %}


{% block header %}

<header class="auth-header">

    <!-- 戻る -->
    <a
        href="{% url 'accounts:password_reset' %}"
        class="header-side-button"
        aria-label="戻る"
    >
        ←
    </a>


    <!-- ChatBoy -->
    <a
        href="{% url 'AIapp:index' %}"
        class="header-logo"
    >
        ChatBoy
    </a>


    <!-- ユーザーアイコン -->
    <span
        class="header-side-button password-header-user"
        aria-hidden="true"
    >
        ♙
    </span>

</header>

{% endblock %}


{% block content %}

<section class="password-reset-done-page">


    <!-- メールアイコン -->

    <div class="mail-icon">

        ✉

    </div>


    <!-- タイトル -->

    <h1 class="password-done-title">

        メールを送信しました

    </h1>


    <!-- 説明 -->

    <p class="password-done-description">

        入力されたメールアドレス宛に<br>
        パスワード再設定用のリンクを<br>
        送信しました。

    </p>


    <p class="password-done-check">

        メールをご確認ください。

    </p>


    <!-- ログイン画面へ -->

    <a
        href="{% url 'accounts:login' %}"
        class="password-back-login done-back-login"
    >

        ログインに戻る

    </a>


</section>

{% endblock %}