{% extends "base/base.html" %}

{% load static %}


{% block title %}

ChatBoy

{% endblock %}


{% block content %}

<section class="chat-top">


    <div class="welcome-area">

        <p class="welcome-title">
            ChatBoyへようこそ！
        </p>

        <p class="welcome-text">
            何でも質問してください。
        </p>

    </div>


    <form
        method="post"
        class="message-form"
    >

        {% csrf_token %}


        <input
            type="text"
            name="message"
            class="message-input"
            placeholder="メッセージを入力"
        >


        <button
            type="submit"
            class="send-button"
            aria-label="送信"
        >
            ⇧
        </button>


    </form>


</section>

{% endblock %}